<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="classes" verbose="1">
	<test name="Test">
		<classes>
			<class name="com.test.classes.QTest1"/>
	 		<class name="com.test.classes.QTest2"/>
		</classes>
	</test>
</suite>
